input#otp {
    border: 1px solid #ccc;
    background: #eee; padding: .5em;
    font-size: medium;
    width: 70%;
    color: #aaa;
}

img#authyubikey_logo {
    float: right;
}

img#yubikey {
    clear: right;
    float: right;
}
